
// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Helvetica Neue', 'Open Sans', 'Liberation Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black: #000000;
$gray: #aaa;

$theme-colors: (
  "primary": $red,
  "success": $red,
);

// Text & Font
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$text-gray-color: #e3e3e3;
$text-light-color: #bcbcbc;
$text-dark-color: #5c5c5c;
$text-darker-color: #000;
$text-primary-color: $red;

// Bootstrap variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1590px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1560px
);

$btn-font-size-lg: 1.2rem;
$btn-border-radius-lg: 32px;
$btn-padding-y-lg: .75rem;
$btn-padding-x-lg: 4rem;

$btn-border-radius: 20px;
$btn-padding-y: .5rem;
$btn-padding-x: 3.25rem;

$btn-border-radius-sm: 16px;
$btn-padding-y-sm: .35rem;
$btn-padding-x-sm: 2.5rem;

// hamburgers package
$hamburger-layer-color: #fff;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-padding-y: 6px;
$hamburger-padding-x: 10px;
