// :root {
//   --blue: #34435E;
//   --gray: #9DA3AE;
//   --red: #ffffff;
// }
//
// * {
//   box-sizing: border-box;
// }
//
// body {
//   font-family: "Open Sans", verdana, arial;
//   margin: 0;
//   padding: 0;
// }
//
// main {
//   min-width: 300px;
//   max-width: 500px;
//   margin: auto;
// }

.timeline {
  border-left: 4px solid var(--primary);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: var(--white);
  color: var(--black);
  margin: 50px auto;
  position: relative;
  padding: 50px;
  list-style: none;
  width: 80%;
  margin-left: 20%;

  .timeline-item {
    border-bottom: 1px dashed var(--white);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: -220px;
      color: var(--primary);
      content: attr(data-date);
      text-align: right;
      font-weight: 100;
      font-size: 0.9em;
      min-width: 120px;
    }

    &:after {
      box-shadow: 0 0 0 4px var(--primary);
      left: -57px;
      background: var(--white);
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }

    &.hide {
      display: none;
    }
  }
}
