<template>
  <draggable
    class="row"
    v-model="mediaList"
    group="people"
    @start="drag=true"
    draggable=".img-box"
    v-bind="dragOptions"
    @end="handleEnd"
  >
    <div
      class="col-6 col-md-3 mb-3 img-box"
      v-for="item in mediaList"
      :key="item.id"
    >
      <img
        v-bind:src="item.url_thumb"
        class="img-fluid"
      >

      <form v-bind:action="'media/' + item.id" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="_token" v-bind:value="csrfTokenValue">
        <button
          type="submit"
          class="btn btn-danger btn-sm"
          data-ask="Silmek istediğinden emin misin?"
        ><i class="fas fa-trash">X</i></button>
      </form>
    </div>
  </draggable>
</template>

<script>
import draggable from 'vuedraggable';
import axios from 'axios';

export default {
  components: {
    draggable,
  },

  props: {
    galleryJson: String,
    csrfToken: String,
  },

  data() {
    return {
      mediaList: [],
      csrfTokenValue: null,
    };
  },

  computed: {
    dragOptions() {
      return {
        animation: 1,
        group: 'description',
        ghostClass: 'ghost'
      };
    },
  },

  mounted() {
    this.mediaList = eval(this.galleryJson);
    this.csrfTokenValue = this.csrfToken;
  },

  methods: {
    handleEnd(event, b) {
      console.log(event, b);
      const list = [];
      for(const item of this.mediaList) {
        list.push(item.id);
      }
      console.log(list);
      const oldIndex = event.oldIndex;
      const newIndex = event.newIndex;

      if(oldIndex === newIndex) {
        return false;
      }

      const movedMedia = this.mediaList[newIndex];

      axios.put('media/' + movedMedia.id, {
        old_index: oldIndex,
        new_index: newIndex,
      }).then((response) => {
        console.log(response);
      }).catch((response) => {
        console.error(response);
        alert('Hata');
      });
    },
  },
};
</script>

<style>
.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.img-box {
  cursor: move;
}

.img-box button {
  cursor: pointer;
}
</style>
