<script>
export default {
  data() {
    return {};
  },
  methods: {
    handleActionClick(event) {
      event.preventDefault();
      this.$modal.show('product-category');
      setTimeout(() => {
        document.querySelector('.vm--modal form').onsubmit = this.handleSubmit;
      });
    },
    handleSubmit(event) {
      event.preventDefault();

      const form = event.target;

      const formData = {
        title: form.querySelector('[name="title"]').value,
      };

      axios[form.method](form.action, formData)
        .then((response) => {
          const select = document.querySelector('[name="product_category_id"]');
          const option = document.createElement('option');
          option.textContent = response.data.productCategory.title;
          option.value = response.data.productCategory.id;
          option.selected = true;
          select.append(option);
          this.$modal.hide('product-category');
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
};
</script>

<template>
  <a href="#" v-on:click.prevent="handleActionClick">
    Yeni kategori ekle
  </a>
</template>
